<div class="content">
    <div class="img">
        <img src="{{profile.avatar_url}}" alt="profile picture">
    </div>
    <div class="info">
        <h1>{{profile.name}}</h1>
        <p>{{profile.location}}</p>
        <p>{{profile.bio}}</p>
    </div>
    <div class="text">
        <a class="github-button" href="https://github.com/HalliGalli15" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Follow @HalliGalli15 on GitHub">Follow @HalliGalli15</a>
    </div>
</div>

